* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
display: grid;
grid-template-areas:
  'header header header'
  'navigation content sidebar'
  'navigation footer footer';
grid-template-columns: 200px 1200px 135px;
grid-template-rows: 100px 412px 200px;
}

.a1, .a2, .a3, .a4, .a5 {
background-color: #6aa36c;
color: white;
border: 2px solid aqua;
padding: 20px;
}

.a1 {
grid-area: header;
}

.a2 {
grid-area: navigation;
}

.a3 {
grid-area: content;
}

.a4 {
grid-area: sidebar;
}

.a5 {
grid-area: footer;
}
