.goa {
      text-align: center;
      color: green;
}

body {
    background-color: azure;
}

.text {
    color: rgb(159, 232, 86);
    text-align: center;
}

.photo {
    text-align: center;
}
.d{
    text-align: center;
}
