* {
    padding: 0;
    margin: 0;
}

body {
    align-self: center;
}

main {
    margin-left: 350px;
}

p {
    text-align: center;
}

footer {
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    height: 200px;
}

@media (max-width: 1200px) {
    main {
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    main {
        margin-left: 0;
        padding: 20px;
    }

    p {
        font-size: 16px;
    }

    footer {
        height: 150px;
        padding: 10px;
    }
}


@media (max-width: 480px) {
    p {
        font-size: 14px;
    }

    footer {
        height: 100px;
        font-size: 14px;
    }
}