.a1{
    text-align: center;
    width: 2000px;
    height: 10%;
}
.a2{
    text-align: left;
    width: 43px;
    height: 17%;
}
.a3{
    text-align: center;
    width: 21%;
    height: 14%;
}
.a4{
    text-align: right;
    width: 202px;
    height: 120px;
}
.a5{
    text-align: right;
    width: 560px;
    height: 20px;
}
#p1 {
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 0); 
}
#p2 {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #00FF00; 
}
#p3 {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: rgb(0, 0, 255); 
}
#p4 {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #FF00FF; 
}
#p5 {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(255, 165, 0); 
}
#p6 {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #800080; 
}
#p7 {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(0, 255, 255); 
}
#p8 {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #FF6347; 
}
#p9 {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(0, 128, 0); 
}
#p10 {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #FFD700; 
}